body {
  background-color: #ffff;
  font-family: "Poppins", sans-serif;
  margin: 0%;
  /* font-family: "Inter", sans-serif;
  font-family: "Manrope", sans-serif;
  font-family: "Roboto", sans-serif; */
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.title {
  font-weight: 700;
  font-size: 24px;
}
.nav-items {
  display: flex;
}
.nav-items a {
  color: black;
  text-decoration: none;
  padding-right: 34px;
  font-size: 16px;
  font-weight: 600;
}
ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.banner-text {
  width: 582px;
  height: 270px;
}
.banner-image {
  width: 475px;
  height: 475px;
}
.para {
  text-align: justify;
}
.link-button {
  text-decoration: none;
  background-color: #e02c6d;
  color: #ffffff;
  padding: 10px 24px;
  border-radius: 41px;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logos {
  border: 1px solid lightgray;
  width: 1110px;
  height: 110px;
}
.logo {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.bonus {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 100px;
}
.bonus-text {
  width: 610px;
  height: 224px;
}
.bonus-image {
  width: 404px;
  height: 270px;
  padding-right: 96px;
}
footer {
  text-align: center;
  color: white;
  background-color: #0a0826;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer-title {
  font-size: 24px;
}
.footer-text {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 700;
}
footer a {
  text-decoration: none;
}
.icon {
  width: 32px;
  height: 32px;
}
