body {
  background-color: #ffff;
  font-family: "Poppins", sans-serif;
  margin: 0%;
  /* font-family: "Inter", sans-serif;
  font-family: "Manrope", sans-serif;
  font-family: "Roboto", sans-serif; */
}
.container {
  margin-bottom: 100px;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.title {
  color: #3a3a3a;
  font-weight: 700;
  font-size: 24px;
}
.nav-items {
  display: flex;
}
.nav-items a {
  color: #3a3a3a;
  text-decoration: none;
  padding-right: 34px;
  font-size: 16px;
  font-weight: 600;
}
ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.banner {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.banner-text {
  width: 582px;
  height: 270px;
}
.banner-title {
  font-size: 52px;
  font-weight: 700;
  color: #3a3a3a;
  margin-bottom: 16px;
}
.banner-image {
  width: 475px;
  height: 475px;
}
.para {
  text-align: justify;
  font-size: 16px;
  font-weight: 600;
  color: #3a3a3a;
  margin-bottom: 30px;
}
.link-button {
  text-decoration: none;
  background-color: #e02c6d;
  color: #ffffff;
  padding: 10px 24px;
  border-radius: 41px;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.logos {
  border: 1px solid lightgray;
  width: 1110px;
  height: 110px;
}
.logo {
  margin-top: 30px;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.products-title {
  text-align: center;
  color: #3a3a3a;
  font-size: 28px;
  font-weight: 600;
}
.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.product {
  width: 329px;
  height: 476px;
  margin-right: 30px;
  margin-bottom: 30px;
  background: #ffffff;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.products-image {
  padding-top: 15px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0%;
}
.product-name {
  color: #18191f;
  font-size: 28px;
  font-weight: 500;
  padding-left: 15px;
  margin: 0%;
}
.product-price {
  font-family: "Inter", sans-serif;
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  padding-left: 15px;
  margin: 0%;
}
.product-info {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0%;
}
.product-info .filled {
  color: #fb8200;
}
.filled .blank {
  height: 12px;
  width: 12px;
  padding-right: 8px;
}
.product-characteristic {
  height: 61px;
  font-family: "Inter", sans-serif;
  color: #787885;
  font-size: 14px;
  font-weight: 700;
  margin: 0%;
}
.products-link {
  text-align: right;
  font-size: 16px;
  font-size: 700;
}
.products-link a {
  color: #e02c6d;
  text-decoration: none;
}
.bonus {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 100px;
}
.bonus-text {
  width: 610px;
  height: 224px;
}
.bonus-title {
  color: #0a0826;
  font-size: 38px;
  font-weight: 700;
}
.bonus-image {
  width: 404px;
  height: 270px;
  padding-right: 96px;
}
footer {
  text-align: center;
  color: white;
  background-color: #0a0826;
  padding-top: 50px;
  padding-bottom: 50px;
}
.footer-title {
  font-size: 24px;
  font-weight: 700;
}
.footer-text {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 700;
}
footer a {
  text-decoration: none;
}
.icon {
  width: 32px;
  height: 32px;
}
